@page "/borrow"
<h3>Checkout Book</h3>

<p class="input">Enter the following:</p>
<div class="IDBorrow">
    <input class="form-control" type="text" id="bookID" placeholder="Book ID">
    <input class="form-control" type="text" id="customerID" placeholder="Customer ID">
</div>

<p class="confirm">Confirm the information below:</p>
<div class="fullNameBorrow">
    <label for="fullName">Full Name</label>
    <input class="form-control" type="text" id="fullName" placeholder="Full Name" readonly>
</div>

<p class="password">Enter account password:</p>
<form>
    <div class="form-group col-md-6 passwordBorrow">
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
</form>

<input class="btn btn-primary" type="submit" value="Checkout">

@code {

}

