@page "/borrow"
<h3>Checkout Book</h3>

<p>Confirm book selection</p>
<li>
    <!--DISPLAY THE LIST OF BOOKS HERE AND SELECT/DE-SELECT BOOKS AS NEEDED->
    <!--WILL BE POPULATED USING THE BOOKS THEY SELECT FROM THE BOOKS PAGE-->
</li>

<input class="btn btn-primary center-button" type="submit" value="Checkout">

<!--ON CLICK OF THE CHECKOUT BUTTON POP UP THE ALERT WITH THE CORRECT DATE-->
<!--HI-->
@code {

}

