@page "/"

<h1><b>DAVINCI</b></h1>

<h4>Welcome to DaVinci Library Management System.</h4>

<p style="font-size:large">
    This library management system provides a very systematic collection of books to browse from a range of genres.
    In this system, the user can browse for books, borrow them and return them as per their convenience. The user can also
    keep an eye out for the events which as regulary updated in the 'Events' section of the application.
    Thanks for visiting!
</p>





